In [42]:
import pandas as pd
import os
from neo4j import GraphDatabase
import os

In [49]:
data_path = '/home/dtnumpoledonnees/ethereum/data/transactions/'
def connect():
    return GraphDatabase.driver("bolt://34.79.248.80:7687", auth=("neo4j", "azerty"))

In [44]:
files = os.listdir(data_path)

In [62]:
def create_constraint(tx):
    tx.run("CREATE CONSTRAINT ON (a:Adresse) ASSERT a.pk IS UNIQUE")
    
def load_csv(tx, csv_file):
    #tx.run("LOAD CSV WITH HEADERS FROM 'file:///ethereum/data/transactions/{}' AS line FIELDTERMINATOR ';' CREATE (a:Adresse {{pk: line.from_address}})".format(csv_file))
    tx.run("LOAD CSV WITH HEADERS FROM 'file:///ethereum/data/transactions/{}' AS line FIELDTERMINATOR ';' \
    MERGE (a:Adresse {{pk: line.from_address}})".format(csv_file))
    tx.run("LOAD CSV WITH HEADERS FROM 'file:///ethereum/data/transactions/{}' AS line FIELDTERMINATOR ';' WITH line WHERE line.to_address IS NOT NULL MERGE (a:Adresse {{pk: line.to_address}})".format(csv_file))
    tx.run("LOAD CSV WITH HEADERS FROM 'file:///ethereum/data/transactions/{}' AS line FIELDTERMINATOR ';' MATCH (a:Adresse {{pk: line.from_address}}) MATCH (b:Adresse {{pk: line.to_address}}) CREATE (a)-[tx:TRANSFERRED {{value:line.value, nonce:line.nonce, timestamp:line.block_timestamp, gasprice: line.gas_price,gas : line.gas, receipt_cumulative_gas_used : line.receipt_cumulative_gas_used, receipt_gas_used :line.receipt_gas_used , transaction_type: line.transaction_type, receipt_effective_gas_price : line.receipt_effective_gas_price}}]->(b)".format(csv_file))
    
def push_csv(f):
    with driver.session() as session:
        session.execute_write(load_csv, f)
        
def push_constraint():
    with driver.session() as session:
        session.execute_write(create_constraint)
    
    
driver = connect()
#for f in files:
#push_constraint()
push_csv('000000000006.csv')


driver.close()



LOAD CSV WITH HEADERS FROM 'file:///osint/exchange_addresses.csv' AS line FIELDTERMINATOR ','
MATCH (n:Entity)
WHERE n.pk = line.address
SET n.exchange = line.exchange




0x262d262ae4c257cbaec4819a47123cd172b900d6

In [ ]:
def connect():
    return GraphDatabase.driver("bolt://34.79.248.80:7687", auth=("neo4j", "azerty"))

def push(method):
    with driver.session() as session:
        session.execute_write(method, csv_file)

def load_csv(tx, csv_file):
    tx.run("LOAD CSV WITH HEADERS FROM 'file:///ethereum/data/transactions/v0.csv' AS row FIELDTERMINATOR ';'CREATE (u1:User {pk: row.f_address})-[:SENDS {value:row.value, nonce:row.nonce, timestamp:row.block_timestamp, gasprice: row.gas_price,gas : row.gas, receipt_cumulative_gas_used : row.receipt_cumulative_gas_used, receipt_gas_used :row.receipt_gas_used , transaction_type: row.transaction_type, receipt_effective_gas_price : row.receipt_effective_gas_price}]->(u2:User {pk: row.to_address}")")
    

def push_csv(f):
    driver = connect()
    with driver.session() as session:
        session.execute_write(load_csv, f)
    driver.close()
  
def push_csv(function):
    driver = connect()
    with driver.session() as session:
        session.execute_write(load_csv, f)
    driver.close()
           


def path_between_two_nodes(tx,a,b) :
    tx.run("MATCH path = (start:Entity {pk:'0x854f1269b659a727a2268ab86ff77cfb30bfb358'})-[:TRANSFERRED*1..2]->(end:Entity {pk:'0xd23f7594185a26d4860fdedd2b759fb0eba6058d'}) RETURN path")    
    
    
match (node:Entity) where node.pk= '0x854f1269b659a727a2268ab86ff77cfb30bfb358'
match p=(node)-[:TRANSFERRED*1..2]-(n2)
where n2.pk = '0xd23f7594185a26d4860fdedd2b759fb0eba6058d'
RETURN p

if __name__ == '__main__' :
    data_path = '/home/dtnumpoledonnees/ethereum/data/transactions'
    files = os.listdir(data_path)[:1]
    for f in files:
        push_csv(f)

In [24]:
print("LOAD CSV WITH HEADERS FROM 'file:///ethereum/data/transactions/{}' AS row FIELDTERMINATOR ','CREATE (u1:User {{pk: row.from_address}})-[:SENDS {{value:row.value, nonce:row.nonce, timestamp:row.block_timestamp, gasprice: row.gas_price,gas : row.gas, receipt_cumulative_gas_used : row.receipt_cumulative_gas_used, receipt_gas_used :row.receipt_gas_used , transaction_type: row.transaction_type, receipt_effective_gas_price : row.receipt_effective_gas_price}}]->(u2:User {{pk: row.to_address}})".format('0.csv'))

LOAD CSV WITH HEADERS FROM 'file:///ethereum/data/transactions/0.csv' AS row FIELDTERMINATOR ','CREATE (u1:User {pk: row.from_address})-[:SENDS {value:row.value, nonce:row.nonce, timestamp:row.block_timestamp, gasprice: row.gas_price,gas : row.gas, receipt_cumulative_gas_used : row.receipt_cumulative_gas_used, receipt_gas_used :row.receipt_gas_used , transaction_type: row.transaction_type, receipt_effective_gas_price : row.receipt_effective_gas_price}]->(u2:User {pk: row.to_address})

In [54]:
df=pd.read_csv('/home/dtnumpoledonnees/ethereum/data/transactions/000000000001.csv',sep=';')

In [55]:
df['from_address'].value_counts()

0x46340b20830761efd32832a74d7169b29feb9758    1911
0x21a31ee1afc51d94c2efccaa2092ad1028285549    1262
0x28c6c06298d514db089934071355e5743bf21d60    1229
0xdfd5293d8e347dfe59e90efd55b2956a1343963d    1169
0xf16e9b0d03470827a95cdfd0cb8a8a3b46969b91    1023
                                              ...
0xeea74c0f109a0589f99370d7bec62f753ac43344       1
0xd3becf581140fff5764872183df202504dcb2c58       1
0x035495b687850f79cb1652f416ea7ec19907557c       1
0xc5f5644c4690c010666b702fa1788f169e55c645       1
0x5c158c9b035a7265603a83ffe9faced67fb58bd7       1
Name: from_address, Length: 74248, dtype: int64

In [57]:
df[df['to_address'].isna()][['from_address', 'to_address']]

                                      from_address to_address
2117    0xb6b9e7cca3391ea821d1f5ef9b6677bfc91b198f        NaN
2722    0xef476b4d1de37f53b178dc8311214bc50ae1ac2f        NaN
2888    0x8606de07aa34505ff5c2348c60f8cde608340f7c        NaN
4985    0x386688bc322bc45880f859062518a6057f955733        NaN
6603    0xdc3e6d7970f581845f456016e5229a180f5fe43d        NaN
...                                            ...        ...
183109  0x49619447f594f5b4d2682bbe3bab519b8e349c1f        NaN
183383  0x1d112247db8c8259e254570e5f6be231b6378519        NaN
188406  0x2962ab755743372407f14b71826ef3370dc68aa0        NaN
190650  0x6b2d12ddb2548f6d219c27c2b89ebe4c892af823        NaN
192204  0x9862d074e33003726fa05c74f0142995f33a3250        NaN

[187 rows x 2 columns]